body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: auto;
}

.input{
  margin-bottom: 5px;
  width: 200px;
  height: 20px;
}

#header{
  text-align: center;
  margin-bottom: 50px;
}

#footer{
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 99%;
}

.button{
  margin-top: 5px;
  margin-bottom: 10px;
}

.reviewBox{
  margin-bottom: 5px;
  width: 300px;
  height: 300px;
  resize: none;
}
